.accordionContainer {
    height: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.accordionContainer button {
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.accordionContainer .closed {
    width: 50px;
    background-color: grey;
    color: lightgrey;
}

.accordionContainer .open {
    width: 100%; 
    background-color: black;
    color: white;
}


