.container {
    display: flex;
    overflow: auto;
}

.outerContainer {
    position: relative;
}

.arrowContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
}